@import url(./normalize.css);
@import url(./fonts.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url(./vars.css);

* {
	box-sizing: border-box!important;
	}

body {
	background-color: #fff;
	color: var(--main-font-color);
	font-size: var(--main-font-size);
	line-height: 1.6rem;
	font-family: Poppins, sans-serif;
	font-weight: 500;
	font-style: normal;
}

a {

}

a:hover,
a:active,
a:focus {
}

a:visited {
}

.header {
}

.container {
	max-width: 1126px;
	margin: 0 auto;
}

.btn {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5em;
	color: #173A56;
	background-color: #ffffff;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	padding: 10px 23px;
	display: inline-block;
	text-decoration: none;
}

.btn .fa {
	margin-right:9px;
	font-size:1.3em;
	vertical-align: middle;
}

.btn:hover,
.btn:focus {
	background-color: #FF9900;
	color:#ffffff;
	border-color: #FF9900;
}

.btn.btn-primary {


}

.btn.btn-primary.colored-btn {
	background-color: #FF9900;
	color:#ffffff;
	border-color: #FF9900;
}

.btn.btn-primary.colored-btn:hover,
.btn.btn-primary.colored-btn:focus {
	color: #173A56;
	background-color: #ffffff;
	border-color: #BCD0E5;
}

.btn.clear-btn {
	background-color: transparent;
	color: #FF9900;
	border-color:transparent;
	text-decoration: underline;
}

.btn.clear-btn:hover,
.btn.clear-btn:focus {
	color: #173A56;
	border-color: #BCD0E5;
}

.hero-section .btn {
	font-weight: 700;
	padding: 14px 40px;
}


.content-section {
	
}

.content-section h2,
.section-title {
	font-size:36px;
	font-weight: 600;
	line-height: 1.5em;
	color:var(--main-title-color);
}

.content-section.hero-section {
	
}

h1,
.hero-section h1,
.main-title {
	font-size: 44px;
	font-weight: 700;
	line-height: 1.2em;
	color:var(--main-title-color);
	margin-bottom: 30px;
}

.hero-section p {
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 45px;
}

.hero-section .row {
	padding: 30px 0 110px;
	display:flex;
	align-items: flex-start;
	justify-content: space-between;
}

.hero-section .content-col {
	padding:50px 60px 0 0;
}



.content-section.icon-boxes-section {

	margin-bottom:90px;
	text-align: center;

}

.content-section.image-section {

}

.hero-section.content-section.image-section {
	width:54%;
}

.content-section.image-section.left-image-section {

}

.content-section.image-section.right-image-section {
	
}