@import url(./normalize.css);
@import url(./fonts.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url(./vars.css);

* {
	box-sizing: border-box!important;
	/* outline-color:var(--main-accent-color); */
	}

body {
	background-color: #fff;
	color: var(--main-font-color);
	font-size: var(--main-font-size);
	line-height: 1.6rem;
	font-family: Poppins, sans-serif;
	font-weight: 500;
	font-style: normal;
}

a {

}

a:hover,
a:active,
a:focus {
}

a:visited {
}

button {
	cursor: pointer;
}

.header {
	margin: 20px auto 0;
}

.container {
	max-width: 1126px;
	margin: 0 auto;
}

.header > .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 78px;
}


.topnav {
	margin: 0 0 0 auto;
}

.topnav .nav-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	padding-left: 0;
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.0em;
}

.topnav .nav-menu__link {
	display: block;
	padding: 7px 0;
	text-decoration: none;
	transition: all 0.3s;
	color: var(--main-font-color);
}

.topnav .nav-menu__link.current {
	color: #000000;
}

.nav-menu__link:hover {
	color: var(--main-accent-color);
}

.header-buttons {
	margin: 0 20px 0 50px;
}




.btn {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5em;
	color: #173A56;
	background-color: #ffffff;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	padding: 10px 23px;
	display: inline-block;
	text-decoration: none;
}

.btn + .btn {
	margin-left: 14px;
}

.btn .fa {
	margin-right:9px;
	font-size:1.3em;
	vertical-align: middle;
}

.btn:hover,
.btn:focus {
	background-color: var(--main-accent-color);
	color:#ffffff;
	border-color: var(--main-accent-color);
}

.btn.btn-primary {


}

.btn.colored-btn {
	background-color: var(--main-accent-color);
	color:#ffffff;
	border-color: var(--main-accent-color);
}

.btn.colored-btn:hover,
.btn.colored-btn:focus {
	color: #173A56;
	background-color: #ffffff;
	border-color: #BCD0E5;
}

.btn.clear-btn {
	background-color: transparent;
	color: var(--main-accent-color);
	border-color:transparent;
	text-decoration: underline;
}

.btn.clear-btn:hover,
.btn.clear-btn:focus {
	color: #173A56;
	border-color: #BCD0E5;
}

.hero-section .btn,
.content-section .btn {
	min-width:175px;
}

.hero-section .btn {
	font-weight: 700;
	padding: 14px 40px;
}

.hero-section .btn.clear-btn {
	padding: 14px 15px;
}

.hero-section .btn + .btn.clear-btn {
	margin-left: 14px;
}




.content-section {
	margin-bottom:100px;
}
.main .content-section:last-of-type {
	margin-bottom:146px;
}

.content-section h2,
.section-title {
	font-size:2.25rem;
	font-weight: 700;
	line-height: 1.5em;
	color:var(--main-title-color);
	margin: 0 0 22px 0;
}

.content-section h2 .small-subtitle,
.small-subtitle {
	font-size:1rem;
	font-weight: 500;
	line-height: 1.5em;
	color:var(--main-font-color);
	display: block;
}
.content-section h3,
.section-tiny-title {
	font-size:1rem;
	font-weight: 600;
	line-height: 1.625em;
	color:var(--main-title-color);
	margin: 0 0 12px 0;
}

.content-section p {
	margin: 0 0 25px 0;
}

.content-section h2 + p {
	margin-bottom: 30px;
}

.content-section.hero-section {
	margin-bottom:0;
}

h1,
.hero-section h1,
.main-title {
	font-size: 2.75rem;
	font-weight: 700;
	line-height: 1.2em;
	color:var(--main-title-color);
	margin-bottom: 30px;
}

.hero-section p {
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 45px;
}

.hero-section .row {
	padding: 30px 0 110px;
	display:flex;
	align-items: flex-start;
	justify-content: space-between;
}

.hero-section .content-col {
	padding:50px 60px 0 0;
}



.content-section.icon-boxes-section {
	margin-bottom:90px;
	text-align: center;
}

.icon-boxes-section h2 {
	margin:0 auto 54px;
	width:50%;
	max-width:540px;
}

.icon-boxes {
	padding:0;
	margin:0px 16px 34px;
	text-align: left;
	list-style:none;
	display:flex;
	gap:45px;
	justify-content:space-between;
	
}

.icon-boxes__icon-box {
	flex:0 1 240px;
}

.icon-boxes h3,
.icon-boxes .icon-box__title {
	font-size:1.375rem;
	line-height: 1.5em;
}

.icon-box__icon {
	display:block;
	margin-bottom:30px;
}

.content-section.image-section {

}

.content-section.image-section .row {
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 9%;
}

.content-section.image-section .row {

}

.content-section.image-section .row__col.content-col {
	max-width: 486px;
	width:43%;
}

.content-section.image-section .row__col.background-col {
	max-width:542px;
	width:48%;
}

.hero-section.content-section.image-section {
	
}

.content-section.image-section.left-image-section {

}

.content-section.image-section.right-image-section {

	
}
.content-section.image-section.right-image-section .row {
	flex-direction: row-reverse;
	
}

.colored-checkboxes-list {
	/*list-style-image: url("./../images/icons/checkbox.png");*/
	list-style-type:none;
	padding:0;
}

.colored-checkboxes-list__item {
	list-style-position: outside;
	padding-left:65px;
	background: url("./../images/icons/checkbox.png") no-repeat left center;
	margin:30px 0;
}

.colored-checkboxes-list__item::marker {
  /* content: url("./../images/icons/checkbox.png"); */
  /* vertical-align: middle; */
}

.footer {

}

.footer h3 {
font-family: Gotham, sans-serif;
color: #2F281E;
font-size:1.25rem;
line-height: 1.5em;
font-weight:bold;
margin: 0 0 35px 0;
}

.footer .inner-container {
border-top: 1px solid rgba(188, 208, 229, 0.5);
padding: 100px 0px 82px 15px;
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 125px;
}

.footer .flex_item {
	flex: 0 1 118px;
}

.footer-logo {

}

.footer-nav {
	min-width: 118px;
}

.nav-block__title {

}

.footer-nav .nav-menu {
	list-style: none;
	margin:0;
	padding:0;
}

.nav-menu__item {
	padding: 0 0 11px 0; 
}

.nav-menu__link {
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: 400;
	color:#544837;
	text-decoration: none;
}
.nav-menu__link:hover {
	text-decoration: underline;
}

.footer-app {

}

.footer-app__title {

}


.footer-app input[type="tel"] {
	background-color: #fff;
	border: 1px solid #BCD0E5;
	color: #173A56;
	border-radius: 4px;
	line-height: 18px;
	width: 325px;
	padding: 15px 25px;
	margin-bottom: 21px;

}

.footer-app input.footer-app__inpt:focus,
.footer-app input.footer-app__inpt:active {
	outline-color:var(--main-accent-color);
}

.footer-app input::placeholder {
	color: #BCD0E5;
}

.footer-app button {
	padding: 7px 15px;
	min-width: 141px;
}
